<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div id="root" style="display: flex; flex-direction: row">
      <div
        class="docs"
        onclick="dwnld('/files/SAP on Azure - Whitepaper_compressed.pdf')"
      >
        <div class="container">
          <img width="auto" height="120" src="/thumbnails/download.png" /><br />4
          SAP on Azure - Whitepaper_compressed.pdf
          <div class="overlay">OPEN</div>
        </div>
      </div>
      <div
        class="docs"
        onclick="dwnld('/files/Why SAP on Azure_compressed.pdf')"
      >
        <div class="container">
          <img width="auto" height="120" src="/thumbnails/download.png" /><br/>
          Why SAP on Azure_compressed.pdf
          <div class="overlay">OPEN</div>
        </div>
      </div>
    </div>
  </body>
</html>
