<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div id="root" style="display: flex; flex-direction: row; margin-top: 20px;">
      <div
        class="docs"
        onclick="dwnld('/files/GoBear - Migration via Zero friction Delivery Model.pdf')"
      >
        <div class="container" style="margin-left: 20px;">
          <img width="auto" height="120" src="/thumbnails/download.png" /><br />
          GoBear - Migration via Zero friction Delivery Model
          <div class="overlay">OPEN</div>
        </div>
      </div>
      <div
        class="docs"
        onclick="dwnld('/files/Trip Factory Saves 40 Cost with GCP Expertise.pdf')"
      >
        <div class="container">
          <img width="auto" height="120" src="/thumbnails/download.png" /><br />
          Trip Factory Saves 40% Cost with GCP Expertise.pdf
          <div class="overlay">OPEN</div>
        </div>
      </div>
    </div>
  </body>
</html>
